.page1{
    left: 128px; 
    top: 36px; 
    width: 1024px; 
    height: 648px; 
    position:absolute; 
    z-index:1;
}

.redButton{
    left:40px;
    top:480px; 
    width:400px; 
    text-align:center; 
    position:absolute; height: 90px;
    position:absolute; 
    background:rgba(0,0,0,0.45); 
    border: 2px grey solid; 
    border-radius:10px; 
}

.redButtonText{
    font-family: arial; 
    font-size:20px;
    color: white; 
}

.page2{
    left: 300px; 
    top: 200px; 
    width: 700px; 
    height: 350px; 
    background: rgba(0,0,0,0.45); 
    border: 2px grey solid; 
    border-radius:10px; 
    position:absolute; 
    text-align:center; 
    z-index:1; 
}

.page2Text{
    font-family: arial; 
    font-size: 45px;
    color: white; 
}

.page3{
    width: 1280px; 
    height: 720px; 
    background: rgba(0,0,0,1.0); 
}

.videoInfo{
    padding-left: 2em; 
    border: 2px solid grey; 
    float:left; width:70%; 
    height: 77px;
}

.jsonList{
    list-style-type: none;
    background-color: rgb(201, 201, 201);
    border: 2px solid grey;
    border-radius: 5px;
}

.menu{
    width: 1000px; 
    height:65px; 
    top:400px; 
    left:100px; 
    background: grey; 
    text-align: center; 
    float: left;
}

.page4{
    left: 128px; 
    top: 36px; 
    width: 1024px; 
    height: 648px; 
    position:absolute; 
    z-index:1;
}

.blueButton{
    left:50px;
    top:480px; 
    position:absolute; 
    background:rgba(0,0,0,0.45); 
    border: 2px grey solid; 
    border-radius:10px; 
    width:350px; 
    text-align:center; 
    position:absolute; 
    height: 75px;
}